.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


body > div > div.jumbotron.p-4.p-md-5.text-white.rounded.bg-dark {
  animation-duration: 3s;
  animation-name: cambio_color;
  animation-iteration-count: infinite;
}

@keyframes cambio_color {
  0% {
        background-color: #343a40;
  }

  50.0% {
        background-color: #F43440;
  }
  
  100.0% {
        background-color: #343a40;
  }
}